<div id="<%= dom_id partner %>">
  <p>
    <strong>Title:</strong>
    <%= partner.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= partner.user_id %>
  </p>
  <div class="partners__item">
  <%= image_tag partner.image, class: "partners__img" %>
</div>
</div>
