<div class="tab-port-12 tab-land-12 phone-12 desktop-12">
    <div data-controller="slider" class="banner">
        <div class="slider">
            <% @hero_images.each do |hero_image| %>
                <% hero_image.images.each do |image| %>
                    <%= image_tag image, class: "slider__img" %>
                <% end %>
            <% end %>
        </div>
    
        <div class="overlay">
            <div class="row">
                <div class="desktop-12 tab-land-3 tab-port-3 phone-12">
                    <div class="banner__text">
                        <h1 class="banner-heading">Best Technology company in Tanzania</h1>
                        <p>
                        The best technology company in Tanzania excels in innovation, offering cutting-edge solutions tailored to local needs. Its commitment to quality</p>
                       <div class="btn-group">
                           
                                <%= button_to "learnmore", about_us_path, method: :get, class: "btn  btn--mob" %>
                                <%= button_to "Inquire now", contact_us_path, method: :get, class: "btn btn--main  btn--mob" %>
                           
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>