<div class="about__content">
<div class="about_text">
    <h5><%= ourservice.Title %></h5>
        <p><%= ourservice.description %></p>
    
        <%= link_to 'Contact us', '#' %>
</div>   
<div class="about_images">
     <%= image_tag ourservice.image, class: "slider__img" %>
</div>
</div>