<h1>Editing ourservice</h1>

<%= render "form", ourservice: @ourservice %>

<br>

<div>
  <%= link_to "Show this ourservice", @ourservice %> |
  <%= link_to "Back to ourservices", ourservices_path %>
</div>
