.btn {
    background-color: $color-white;
    outline: none;
    border: none;
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 11px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: darken($color-white, 10%);
    }

    &--mid {
        width: 100%;
    }

    &--small {
       width: 20%;
    }

    &--main {
        background-color: $main-color;
        color: $color-white;

        &:hover {
            background-color: darken($main-color, 10%);
        }
    }

    &--secondary {
        background-color: $color-white;
        color: black;
    }

    &--comp {
      background-color: #276988;
      color: $color-white;
    }

    &--border {
        border: 1px solid #276988;
    }

    &--mob {
        @include respond(phone) {
        width: 100%;
        font-size: 0.9rem;
        align-self: flex-end;
        }
    }
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    
}