<h1>Editing hero image</h1>

<%= render "form", hero_image: @hero_image %>

<br>

<div>
  <%= link_to "Show this hero image", @hero_image %> |
  <%= link_to "Back to hero images", hero_images_path %>
</div>
