<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>New Contact Form Submission</title>
</head>
<body>
  <h2>New Contact Form Submission</h2>
  <p>You have received a new message from the contact form:</p>
  
  <ul>
    <li><strong>Name:</strong> <%=  @message.name %></li>
    <li><strong>Email:</strong> <%= @message.email %></li>
    <li><strong>Subject:</strong> <%= @message.subject %></li>
    <li><strong>Message:</strong> <%= @message.body %></li>
  </ul>
</body>
</html>
