<footer class="interesting-infos">
    <div class="footer-content">
        <div class="footer-section">
            <h3>INTERESTING INFOS</h3>
            <p>We seek to survive market conditions and contribute immensely to the economic growth of the country.</p>
        </div>
        <div class="footer-section">
            <h3>Follow</h3>
            <ul>
                <li>on <a href="www.twitter.com">Twitter</a></li>
                <li>Subscribe to RSS Feed</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>KAMICH TECHNOLOGIES</h3>
            <p>1742 KIBAHA<br>PWANI, PWANI, TANZANIA</p>
            <p>+255764 498 294<br>
            +255716 971 067<br>
            +255652 350 930<br>
            kamichtechnologies@gmail.com</p>
            <p>OFFICE HOURS<br>Mo-Fr: 8:00-19:00<br>Sa: 8:00-14:00<br>So: closed</p>
        </div>
        <div class="footer-section">
            <h3>LATEST PROJECTS</h3>
            <ul>
                <li>Project 6 – Supply and Installation of Electrical, Electronic, ICT and Fiber Optic Items<br>April 17, 2023 - 5:09 pm</li>
                <li>Project 5 – Supply of ICT Items<br>October 30, 2022 - 5:07 pm</li>
                <li>Project 4 – Monthly Maintenance Service for the Automatic Tax Stamp Applicator, Single Track Chain Conveyor Machine, Conveyor Length 6m, Speed 220bpm</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="">Home</a>
    </div>
</footer>
